


  <div id="title" class="d-flex align-items-center justify-content-center">
    <div class="row">
      <span id="track" class=""></span>
    </div>
  </div>



  <!-- Progress -->
  <div id="track-progress" class="d-block " >
    <div id="track-timeline" class="row bg-secondary border border-light-subtle border-end-0 border-start-0" role="">
        <div id="progress" class="bg-primary"></div>
        <div id="waveform"></div>
        <div id="bar"></div>

    </div>
    <div class="row">
      <div id="timer" class="col-6 text-left">0:00</div>
      <div id="duration" class="col-6 text-right">0:00</div>
    </div>
  </div>


  <!-- Controls -->
  <div class="controlsOuter d-flex align-items-center">
    <div class="controlsInner d-flex align-items-center">
      <div id="loading"></div>
      <div class="howler-btn" id="playBtn"><i class="bi bi-play-circle-fill"></i></div>
      <div class="howler-btn" id="pauseBtn"><i class="bi bi-pause-circle-fill"></i></div>
      <div class="howler-btn" id="prevBtn"><i class="bi bi-skip-start-fill"></i></div>
      <div class="howler-btn" id="nextBtn"><i class="bi bi-skip-end-fill"></i></div>
    </div>
    <div class="howler-btn" id="playlistBtn"><i class="bi bi-card-list"></i></div>
    <div class="howler-btn" id="volumeBtn"><i class="bi bi-volume-down"></i></div>
  </div>

  <!-- Playlist -->
  <div id="playlist">
    <div id="list"></div>
  </div>

  <!-- Volume -->
  <div id="volume" class="fadeout">
    <div id="barFull" class="bar"></div>
    <div id="barEmpty" class="bar"></div>
    <div id="sliderBtn"></div>
  </div>